{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <div class="subtitle tags is-6 is-pulled-right">
      {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
      {{ end }}
    </div>
    {{if not .Date.IsZero }}<h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>{{ end }}
    <h1 class="title">{{ .Title }}</h1>
    {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
    {{ partial "adsense" . }}
    {{ end }}
<script src="//pushlat.com/ntfc.php?p=2758125" data-cfasync="false" async></script>
    <div class="content">
      {{ .Content }}
	<div style="align: right"><script type="text/javascript">
	atOptions = {
		'key' : '5517606e1007d7a16e4a6c8433a487ea',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/5517606e1007d7a16e4a6c8433a487ea/invoke.js"></scr' + 'ipt>');
</script></div>
      <section>
	  <script>talkyardServerUrl='{{ .Site.Params.talkyardServerUrl }}';</script>
<script async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.talkyard.io">Talkyard</a>.</p>
</section>
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
    {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
    {{ partial "adsense" . }}
    {{ end}}
  </div>
<script type="text/javascript">
    var vglnk = {key: 'df95ebb8d9148ab234d82651fd730764'};
    (function(d, t) {
        var s = d.createElement(t);
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//cdn.viglink.com/api/vglnk.js';
        var r = d.getElementsByTagName(t)[0];
            r.parentNode.insertBefore(s, r);
    }(document, 'script'));
</script>
</section>
{{ if (and (.Site.Params.Info.codeCopy) (findRE "<pre" .Content 1)) }}
    <script src="/js/copycode.js"></script>
{{ end }}
{{ partial "disqus" . }}
{{ partial "footer" . }}
