{{ partial "header" . }}
{{ partial "nav" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.js"></script>
<script src="/search.js"></script>
<hr>
<div style="text-align: center">
 <input id="search-input" type="text" placeholder="Search Box" name="search-input" class="form-control">
</div>
<div id="search-results" class="container"></div>
<hr>
<br><br>
<section class="section">
  <div class="container">
    {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article>
      <div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      <h2 class="subtitle is-6 date">{{ .Date.Format "January 2, 2006" }}</h2>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read more
        </a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
<script type="text/javascript" src="//deloplen.com/apu.php?zoneid=2758145" async data-cfasync="false"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.js"></script>
<script async src="/search.js"></script>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
